In [144]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

# 7 Assests (Nvidia, Advanced Micro Devices, Gamestop, Walt Disney Co, Pfizer inc, Costco, Target Corp)
tickers =['NVDA','AMD','GME','DIS','PFE','COST','TGT']


tickers = [ticker.upper() for ticker in tickers]

# Gathers asset's data from past 2 years (730 days) to today 
start_date = dt.datetime.today() - pd.Timedelta(730, "d")
end_date = dt.datetime.today()

#Downloads stock data
tickers_data =yf.download (start=start_date,end=end_date, tickers= tickers)['Close']
tickers_data.head()

[*********************100%%**********************]  7 of 7 completed

Ticker,AMD,COST,DIS,GME,NVDA,PFE,TGT
Date,,,,,,,
2022-04-18,93.889999,582.119995,127.769997,35.365002,217.830002,51.840000,239.389999
2022-04-19,96.930000,594.299988,131.899994,38.117500,221.979996,50.180000,246.050003
2022-04-20,94.019997,603.530029,124.570000,37.212502,214.820007,49.750000,249.320007
2022-04-21,89.849998,591.739990,121.660004,35.389999,201.830002,49.110001,248.169998
2022-04-22,88.139999,571.700012,118.269997,34.555000,195.149994,48.130001,241.679993

In [145]:
daily_returns= tickers_data.pct_change()
#Asset's mean
mean_returns=daily_returns.mean()
print("Assest's mean: ",mean_returns)

Assest's mean:  Ticker
AMD     0.001661
COST    0.000589
DIS    -0.000021
GME    -0.001129
NVDA    0.003379
PFE    -0.001277
TGT    -0.000424
dtype: float64

In [146]:
#Asset's variance
variance=daily_returns.var
print("Assest's variance: ",variance)

Assest's variance:  <bound method DataFrame.var of Ticker           AMD      COST       DIS       GME      NVDA       PFE  \
Date
2022-04-18       NaN       NaN       NaN       NaN       NaN       NaN
2022-04-19  0.032378  0.020924  0.032324  0.077831  0.019052 -0.032022
2022-04-20 -0.030022  0.015531 -0.055572 -0.023742 -0.032255 -0.008569
2022-04-21 -0.044352 -0.019535 -0.023360 -0.048976 -0.060469 -0.012864
2022-04-22 -0.019032 -0.033866 -0.027865 -0.023594 -0.033097 -0.019955
...              ...       ...       ...       ...       ...       ...
2024-04-08 -0.003051 -0.002676 -0.008701 -0.037333 -0.009942 -0.003001
2024-04-09  0.005180  0.009525  0.005283  0.016621 -0.020417  0.007524
2024-04-10 -0.021314  0.005553 -0.006612 -0.014532  0.019741 -0.017177
2024-04-11  0.020103  0.013521 -0.000341  0.040553  0.041096  0.000760
2024-04-12 -0.042346 -0.001420 -0.026803 -0.046058 -0.026816 -0.018223

Ticker           TGT
Date
2022-04-18       NaN
2022-04-19  0.027821
2022-04-20  0.013290
2022-04-21 -0.004613
2022-04-22 -0.026151
...              ...
2024-04-08 -0.012051
2024-04-09  0.011373
2024-04-10 -0.000058
2024-04-11 -0.001690
2024-04-12 -0.030409

[500 rows x 7 columns]>

In [150]:
#Correlation matrix
daily_returns= tickers_data.pct_change()
covMatrix=daily_returns.corr()
covMatrix

Ticker       AMD      COST       DIS       GME      NVDA       PFE       TGT
Ticker
AMD     1.000000  0.455524  0.409341  0.340021  0.782760  0.142092  0.318584
COST    0.455524  1.000000  0.353283  0.256168  0.463116  0.225838  0.510049
DIS     0.409341  0.353283  1.000000  0.303777  0.436254  0.221940  0.406712
GME     0.340021  0.256168  0.303777  1.000000  0.348574  0.128579  0.288444
NVDA    0.782760  0.463116  0.436254  0.348574  1.000000  0.131896  0.310413
PFE     0.142092  0.225838  0.221940  0.128579  0.131896  1.000000  0.278164
TGT     0.318584  0.510049  0.406712  0.288444  0.310413  0.278164  1.000000

[0.00374348 0.23658164 0.01921169 0.1240196  0.05502936 0.35238235
 0.20903186]